@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --waikawa-gray-50: #f2f7fb;
  --waikawa-gray-100: #e7f0f8;
  --waikawa-gray-200: #d3e2f2;
  --waikawa-gray-300: #b9cfe8;
  --waikawa-gray-400: #9cb6dd;
  --waikawa-gray-500: #839dd1;
  --waikawa-gray-600: #6a7fc1;
  --waikawa-gray-700: #6374ae;
  --waikawa-gray-800: #4a5989;
  --waikawa-gray-900: #414e6e;
  --waikawa-gray-950: #262c40;
}

/* BASE SECTION */
.card {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka,
    "メイリオ", Meiryo, "MS PGothic", sans-serif;
  font-size: 32px;
  text-align: center;
  color: white;
  background-color: var(--waikawa-gray-950) !important;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main {
  background-color: var(--waikawa-gray-800);
  width: 80%;
  max-width: 600px;
  padding: 0px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
  overflow: scroll;
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-orient: vertical;
  zoom: 100%;
  max-height: 80%;
  margin-top: 0%;
  margin-bottom: 2%;
}

#main::-webkit-scrollbar {
  display: none;
}

/* END OF BASE SECTION */

/* WINDOWS STYLE */
.win #main {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.win .example {
  font-size: 27px;
}
/* END OF WINDOWS STYLE */

/* ANDROID STYLE */
.android #main {
  background-color: var(--waikawa-gray-800);
  width: 80%;
  max-width: 600px;
  padding: 3% 0px 3% 0px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
  overflow: auto;
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-orient: vertical;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  zoom: 100%;
  max-height: 80%;
  margin-bottom: 3%;
  overflow-x: hidden;
  overflow-y: auto;
}

.android #top-right {
  font-size: 13px;
}

/* END OF ANDROID STYLE */

/* FRONT SIDE */
#top-right {
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 12px;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

#top-right > div {
  padding-left: 5px;
  padding-right: 5px;
  background-color: var(--waikawa-gray-400);
  border-radius: 15px;
  margin-bottom: 3px;
}

#top-right > div:nth-child(2) {
  background-color: yellowgreen;
}
/* END OF FRONT SIDE */

/* BACK SIDE */
hr {
  width: 50%;
}

.example {
  text-align: center;
  font-size: 20px;
}

.example-id {
  font-size: 16px;
}

.description {
  margin-top: 5px;
  font-size: 16px;
  max-width: 70%;
}
/* END OF BACK SIDE */
